@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
margin: 0;
font-family: "Dancing Script", sans-serif;
background-image: url('pozadina/pozadina.jpg');
background-size: cover;
background-attachment: fixed;
}

@font-face {
font-family: "MartinaBrkic";
src: url("MartinaBrkic.ttf");
}

h1 {
font-family: "MartinaBrkic", serif;
font-size: 65px;
}

h2 {
font-size: 23px;
}


h3 {
font-size: 40px;
font-weight: bold;
text-align: center;
color: #2e4632;
}

h4 {
font-size: 15px;
font-weight: bold;
text-align: center;
color: #2e4632;
}

h5{
font-size: 20px;
font-weight: bold;
text-align: center;
color: #2e4632;	
}

p {
font-family: "Lora", serif;
color: black;
font-size: 15px;
text-align: center;
}

header {
background: rgba(176, 190, 169, 0.85);
padding: 30px 0 10px 0;
text-align: center;
}
header h1, header h2 {
    margin: 0 0 10px 0;
    color: #2e4632;
}

nav ul {
padding: 20px;
margin: 0 auto;
width: 320px;
list-style: none;
text-align: center;
}
nav ul li {
display: inline-block;
background-color: rgba(146, 160, 139, 0.85);
padding: 12px 18px;
margin: 0 4px;
border: 2px rgba(116, 130, 109, 0.85);
border-radius: 8px;
transition: background 0.3s;
}
nav ul li:active {
background-color: rgba(116, 130, 109, 0.85);
}
nav ul li a {
color: #2e4632;
text-transform: none;
text-decoration: none;
font-size: 14px;
display: block;
border-radius: 8px;
transition: background 0.3s, color 0.3s;
padding: 0 10px;
}
nav ul li a:hover {
background: rgba(116, 130, 109, 0.85);
text-decoration: underline;
}


.main-content {
background: rgba(245, 247, 240, 0.65);
margin: 30px auto;
padding: 30px;
max-width: 1200px;
box-shadow: 0 4px 24px gray;
}

.maincontent {
background: rgba(245, 247, 240, 0.65);
margin: 30px auto;
align: center;
padding: 30px;
max-width: 1200px;
box-shadow: 0 4px 24px gray;
}

.interesi {
background: rgba(245, 247, 240, 0.65);
margin: 30px auto;
padding: 30px;
max-width: 1200px;
box-shadow: 0 4px 24px gray;
}

.novi {
font-family: "Lora", serif;
color: #2e4632;
background-color: rgba(176, 190, 169, 0.85); 
padding: 5px;
text-align: center;
font-size: 20px;
font-weight: normal;
}

.novi2 {
font-family: "Lora", serif;
color: rgba(245, 247, 240, 0.65);
padding: 5px;
text-align: center;
font-size: 30px;
font-weight: bold;
}

.vjezbe {
align: center;
}

.vjezba {
border: 1px solid #ccc;
padding: 1em;
margin: 1.5em 0;
border-radius: 8px;
background-color: #fefefe;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
text-align: center; /* Ovo centrirat će slike i videa */
}

.vjezba h4 {
margin-top: 0;
}

.vjezba img,
.vjezba video {
max-width: 90%;
height: auto;
margin: 0.5em auto;
display: inline-block;
}

footer {
text-align: center;
margin-top: 40px; 
background-color: rgba(176, 190, 169, 0.85); 
font-size: 17px;
color: #2e4632;
}

